<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Monitoring</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        <h1>Merlin Keep IT Simple</h1>
    </header>
    <div class="container">
        <h2>M-KIS Monitoring</h2>
        <form action="/" method="post">
            <label for="name">Nom du service :</label>
            <input type="text" name="name" id="name">
            <label for="host">Hôte :</label>
            <input type="text" name="host" id="host">
            <input type="submit" value="Ajouter">
        </form>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
        <ul class="services">
            {% for service in services %}
                <li class="service">
                    <span class="name">{{ service['name'] }}</span>
                    {% if service['status'] == 'UP' %}
                        <span class="status up">UP</span>
                    {% elif service['status'] == 'DOWN' %}
                        <span class="status down">DOWN</span>
                        {% if service['message'] %}
                            <p class="message">{{ service['message'] }}</p>
                        {% endif %}
                    {% else %}
                        <span class="status unknown">UNKNOWN</span>
                    {% endif %}
                    <a class="delete-link" href="{{ url_for('index', delete=service['host']) }}">Supprimer</a>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>
